@import "../bower_components/components-font-awesome/scss/font-awesome.scss";

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url('../fonts/AvenirNextLTPro-UltLt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AvenirNextLTPro-UltLt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AvenirNextLTPro-UltLt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/AvenirNextLTPro-UltLt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AvenirNextLTPro-UltLt.svg#svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url('../fonts/AvenirNextLTPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/AvenirNextLTPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AvenirNextLTPro-Regular.svg#svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url('../fonts/AvenirNextLTPro-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AvenirNextLTPro-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/AvenirNextLTPro-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AvenirNextLTPro-Medium.svg#svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url('../fonts/AvenirNextLTPro-Demi.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AvenirNextLTPro-Demi.woff') format('woff'), /* Modern Browsers */
       url('../fonts/AvenirNextLTPro-Demi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AvenirNextLTPro-Demi.svg#svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url('../fonts/AvenirNextLTPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/AvenirNextLTPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AvenirNextLTPro-Bold.svg#svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  600;
}





