@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
} 


@mixin screen-center {
  position: fixed;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

@mixin timer-spinner{
	.la-timer,
	.la-timer > div {
	    position: relative;
	    @include box-sizing(border-box);
	}

	.la-timer {
	    display: block;
	    font-size: 0;
	    color: #fff;
	    @include screen-center;
	}

	.la-timer.la-dark {
	    color: #333;
	}

	.la-timer > div {
	    display: inline-block;
	    float: none;
	    background-color: #fff;
	    border: 0 solid #fff;
	}

	.la-timer {
	    width: 32px;
	    height: 32px;
	}

	.la-timer > div {
	    width: 32px;
	    height: 32px;
	    background: transparent;
	    border-width: 2px;
	    border-radius: 100%;
	}

	.la-timer > div:before,
	.la-timer > div:after {
	    position: absolute;
	    top: 14px;
	    left: 14px;
	    display: block;
	    width: 2px;
	    margin-top: -1px;
	    margin-left: -1px;
	    content: "";
	    background: #fff;
	    border-radius: 2px;
	    @include transform-origin(1px 1px 0);
	    @include animation(timer-loader 1250ms infinite linear);
	    @include animation-delay(-625ms);
	}

	.la-timer > div:before {
	    height: 12px;
	}

	.la-timer > div:after {
	    height: 8px;
	   @include animation-duration(15s);
	   @include animation-delay(-7.5s);
	}

	.la-timer.la-sm {
	    width: 16px;
	    height: 16px;
	}

	.la-timer.la-sm > div {
	    width: 16px;
	    height: 16px;
	    border-width: 1px;
	}

	.la-timer.la-sm > div:before,
	.la-timer.la-sm > div:after {
	    top: 7px;
	    left: 7px;
	    width: 1px;
	    margin-top: -.5px;
	    margin-left: -.5px;
	    border-radius: 1px;
	    @include transform-origin(.5px .5px 0);
	    
	}

	.la-timer.la-sm > div:before {
	    height: 6px;
	}

	.la-timer.la-sm > div:after {
	    height: 4px;
	}

	.la-timer.la-2x {
	    width: 64px;
	    height: 64px;
	}

	.la-timer.la-2x > div {
	    width: 64px;
	    height: 64px;
	    border-width: 4px;
	}

	.la-timer.la-2x > div:before,
	.la-timer.la-2x > div:after {
	    top: 28px;
	    left: 28px;
	    width: 4px;
	    margin-top: -2px;
	    margin-left: -2px;
	    border-radius: 4px;
	    @include transform-origin(2px 2px 0);

	}

	.la-timer.la-2x > div:before {
	    height: 24px;
	}

	.la-timer.la-2x > div:after {
	    height: 16px;
	}

	.la-timer.la-3x {
	    width: 96px;
	    height: 96px;
	}

	.la-timer.la-3x > div {
	    width: 96px;
	    height: 96px;
	    border-width: 6px;
	}

	.la-timer.la-3x > div:before,
	.la-timer.la-3x > div:after {
	    top: 42px;
	    left: 42px;
	    width: 6px;
	    margin-top: -3px;
	    margin-left: -3px;
	    border-radius: 6px;
	    @include transform-origin(3px 3px 0);
	}

	.la-timer.la-3x > div:before {
	    height: 36px;
	}

	.la-timer.la-3x > div:after {
	    height: 24px;
	}

	/*
	 * Animation
	 */
	@-webkit-keyframes timer-loader {
	    0% {
	       @include transform(rotate(0deg));
	    }
	    100% {
	        @include transform(rotate(360deg));
	    }
	}
	@-moz-keyframes timer-loader {
	    0% {
	        @include transform(rotate(0deg));
	    }
	    100% {
	       @include transform(rotate(360deg));
	    }
	}
	@-o-keyframes timer-loader {
	    0% {
	        @include transform(rotate(0deg));
	    }
	    100% {
	        @include transform(rotate(360deg));
	    }
	}
	@keyframes timer-loader {
	    0% {
	        @include transform(rotate(0deg));
	    }
	    100% {
	        @include transform(rotate(360deg));
	    }
	}
}
			
