@media screen and (max-width: 320px) {
	.jumbotron{
		margin-bottom: 10px;
		h2{
			font-size: 26px;
		}
	}
}
@media screen and (max-width: 376px) {

	//Responsive tweaks

	#header-wrapper {
		.header.fixed {
			.navbar-default {
				.navbar-header{
					button{
						margin-top: 26px;
					}
				}
				h2{
					width: 210px;
					height: 66px;
				    vertical-align: middle;
				    margin-top: 12px;
				    text-align: center;
				    line-height: 30px;
				    padding-top: 3px;
					&.single-line{
				    	line-height: 66px;
				    	padding-top: 0px;
				    }
				}
			}
		}
	}



	.jumbotron{
		margin-bottom: 20px;
		h2{
			font-size: 40px;
		}
	}

	#home .marketing {
		margin-top: 0px;
	}

	p{
		text-align: justify;
		padding: 0px 15px;
	}

	.footer{
		p{
			text-align: center;
		}
	}
	.polaroids{
		li{
			margin-left: 50px;
		}
	}

	.github-logo{
		padding-top: 30px;
		p{
			text-align: center;
		}
	}

	.repos{
		h3{
			text-align: center;
		}
		ul{
			width: 400px;
			li{
				width: 30%;
        		height: 25px;
        		padding: 10px;
        		iframe{
        			width: 100%;
        		}
			}
		}
	}

	#projects{
		.project-list{
			margin-left:0px;
			padding-left: 20px;
		}
	}

	#submit{
		width: 100%;
	}

	.find-me{
		margin-top: 40px;
		margin-left: 40px;
		margin-bottom: 20px;
		margin-top: 120px;
	}

	.view-content{
		h2.section-title{
			margin-top: -12px;
			margin-left: 70px;
			width: 60%;
			text-align: center;
		}
	}

	#contact{
		form{
			padding: 20px;
		}
		ul {
			margin-left: 25px;
		}
	}	

}