<div class="view-content" id="about" ng-controller="AboutCtrl">

	<h2>ABOUT ME</h2>
	<div class="row">
		<div class="col-md-6">
			<p>
				I'm Bruno Barbieri, a {{ age }} years old dude from <a href="http://en.wikipedia.org/wiki/Uruguay" target="_blank">Uruguay</a> currently living in Brooklyn, NY. 
			</p>
			<p>
				I've tried a bunch of things in my life like being a rockstar, skateboarder, a beast tamer but I wasn't good enough so I decided to fully dedicate to the only thing I've being doing consistently during the last {{ experience }} years of my life: <strong>Coding</strong>.
			</p>
			<p>
				I've been playing several roles in the tech area like: sysadmin, full-stack developer, SEO &amp; Analytics consultant, CTO but I realized that what I enjoy the most is to create user facing stuff: A.K.A <strong>"Frontend"</strong>.
			</p>
			<p>
				That's exactly what I'm doing right now as a Senior Software Engineer at <a href="https://delivery.com"  target="_blank">delivery.com</a> mastering my skills on AngularJS, Compass, Grunt among other cool things.
			</p>
			
			<p>
				I've been speaking in a couple of conferences (<a href="https://eventioz.com.ar/e/devfest-uruguay/speakers"  target="_blank">Google DevFest 2012</a> and <a href="https://eventioz.com.ar/e/devfest-montevideo-2013/speakers"  target="_blank">Google Developer Day 2013</a> in Montevideo) and doin' good in hackathons (<a href="https://plus.google.com/110838246905006662525/posts/MdaVyP42fUx"  target="_blank">1st place</a> on Startup Weekend MVD and <a href="http://hackday.co/post/23103616177/and-the-finalists-are"  target="_blank">2nd place</a> on Hackday Buenos Aires).
			<p>

			<p>Lately I've fallen in love with <a href="https://developer.apple.com/swift/"  target="_blank">Swift</a> and WatchOS, so I'm kinda an iOS guy too...</p>

			<p>
				I've been also working on a few personal projects and some of them are Open Source.
			</p>
		</div>
		<div class="col-md-6">
			<ul class="polaroids">
				<li ng-repeat="pic in polaroids">
					<a href="{{ pic.href }}" title="{{ pic.title }}"  target="_blank">
						<img alt="{{ pic.alt }}" ng-src="{{ pic.src }}"/>
					</a>
				</li>
				<div class="clear"></div>
			</ul>
			
		</div>
	</div>
	<div class="row marketing">
	    <a ng-href="#open-source" class="next" du-smooth-scroll>
	      <span>Check out my open source projects!</span>
	      <span class="glyphicon glyphicon-circle-arrow-down bounce"></span>
	    </a>
	</div>



</div>

