<div class="view-content" id="about">
<br />
<br />
<h2>About me</h2>
<br />
<p>My name is Bruno Barbieri. I'm a 27 years old guy from Uruguay and I've tried a bunch of things in my like trying to be a rockstar, skateboarder, a beast tamer but I wasn't good enough..
</p>
<p>After that I decided to fully dedicate to the only thing I've being doing consistently through the last 14 years of my life: <b>Coding</b>
</p>
<p>
	I've been playing many roles in the tech area like: CTO, sysadmin, backend developer, SEO &amp; Analytics consultant but I realized that what I enjoy the most is the what users see: The frontend
</p>
<p>
	That's exactly what I'm doing right now as a Senior Software Engineer at <a hre="https://delivery.com">delivery.com</a> mastering my skills on AngularJS, Compass, Grunt among other things</a>	
</p>

<p>
	During my free time I've been doing some other interesting projects and some of then are Open Source.It took me a while to understand how the community works but now I can't describe the awesome feeling of creating something that's used by hundreds of people around the word that you never met before.
</p>

<div class="row marketing">
    <a ng-href="#open-source" class="next" du-smooth-scroll>
      <h4>Check out my open source projects!</h4>
      <span class="glyphicon glyphicon-circle-arrow-down bounce"></span>
    </a>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /><p>This is the about view.</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</div>

