<div class="view-content" id="contact">

	<h2>WANNA CONNECT?</h2>
	<div class="row">
		<div class="col-md-6">
			<p>
				Let's do this! Just drop me a line through this form and I'll get in touch with you.
			</p>
			<form role="form" action="" method="post" >
				<div class="form-group">
					<label for="InputName">Your Name</label>
					<div class="input-group">
				  		<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
					</div>
				</div>
				<div class="form-group">
					<label for="InputEmail">Your Email</label>
					<div class="input-group">
				  		<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
					</div>
				</div>
				<div class="form-group">
					<label for="InputMessage">Message</label>
					<div class="input-group">
				  		<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
					</div>
				</div>
				<input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary pull-right">
			</form>
		</div>
		<div class="col-md-6">
			<p class="find-me">	
				You can also find me on:
			</p>
			<ul>
				<li>
					<i class="fa fa-linkedin-square"></i> LinkedIn: <a href="https://www.linkedin.com/in/brunobar79"  target="_blank">Bruno Barbieri</a>
				</li>
				<li>
					<i class="fa fa-twitter-square"></i> Twitter: <a href="https://twitter.com/brunobar79"  target="_blank">@brunobar79</a>
				</li>
				<li>
					<i class="fa fa-github-square"></i> Github: <a href="https://github.com/brunobar79"  target="_blank">@brunobar79</a>
				</li>
			</ul>
		</div>
	</div>




<div class="row marketing">
    
</div>

</div>

