<div class="view-content" id="contact">

	<h2>WANNA CONNECT?</h2>
	<div class="row">
		<div class="col-md-6">
			<p>
				Let's do it! Just drop me a line through this form.
			</p>
			<p>	
				You can also find me on:
				<ul>
					<li>
						LinkedIn: <a href="https://www.linkedin.com/in/brunobar79">https://www.linkedin.com/in/brunobar79</a>
					</li>
					<li>
						Twitter: <a href="https://twitter.com/brunobar79">@brunobar79</a>
					</li>
					<li>
						Github: <a href="https://twitter.com/brunobar79">@brunobar79</a>
					</li>
				</ul>
			</p>
		</div>
		<div class="col-md-6">
			<!-- Do not change the code! -->
			<a id="foxyform_embed_link_675220" href="http://www.foxyform.com/">foxyform</a>
			<script type="text/javascript">
			(function(d, t){
			   var g = d.createElement(t),
			       s = d.getElementsByTagName(t)[0];
			   g.src = "http://www.foxyform.com/js.php?id=675220&sec_hash=805505b7fc2&width=350px";
			   s.parentNode.insertBefore(g, s);
			}(document, "script"));
			</script>
			<!-- Do not change the code! -->
			
		</div>
	</div>




<div class="row marketing">
    
</div>

</div>

