<div class="view-content" id="open-source">

	<h2>OPEN SOURCE</h2>
	<div class="row main-row">
		<div class="col-md-8">
			<p>
				It took me a while to understand how the community works but now I can't describe the awesome feeling of creating something that's used by hundreds of people around the word that you never met before but they send you random emails just to say thanks or awesome contributions through pull requests.
			</p>
			<p>I see it as the most pure way of giving something back to the same community that helped me during my whole career.</p>
		</div>
		<div class="col-md-4 github-logo">
			<p>
				<img ng-src="images/github-logo.png" />
			</p>
			<p>
				<iframe src="https://ghbtns.com/github-btn.html?user=brunobar79&type=follow&count=true&size=medium" frameborder="0" scrolling="0" width="170px" height="30px"></iframe>
			</p>
		</div>
	</div>
		
	<div class="row repos">
		<div class="col-md-6">

			<h3>
				<a href="https://github.com/brunobar79/J-I-C" taget="_blank">JIC</a>
			</h3>
			
			<p>
			 	J I C is a Javascript Image Compressor using HTML5 Canvas & File API that allows you to compress your jpeg & png images before uploading to the server (100% client-side and no extra libraries required!)
			</p>
		</div>
		<div class="col-md-6">
			<p>
				<ul>
					<li>
						<iframe src="https://ghbtns.com/github-btn.html?user=brunobar79&repo=J-I-C&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
					</li>
					<li>
						<iframe src="https://ghbtns.com/github-btn.html?user=brunobar79&repo=J-I-C&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
					</li>
					<li>
						<iframe src="https://ghbtns.com/github-btn.html?user=brunobar79&repo=J-I-C&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
					</li>
				</ul>
			</p>
		</div>
	</div>

	<div class="row repos">
		<div class="col-md-6">
			<h3>
				<a href="https://github.com/brunobar79/GAP" taget="_blank">GAP.js</a>
			</h3>
			<p>
			 	GAP is a Javascript wrapper that supports the "classic version" (ga.js) and the new universal analytics (analytics.js) with some cool features like javascript error tracking with a single line of code.
			</p>
		</div>
		<div class="col-md-6">
			<p>
				<ul>
					<li>
						<iframe src="https://ghbtns.com/github-btn.html?user=brunobar79&repo=GAP&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
					</li>
					<li>
						<iframe src="https://ghbtns.com/github-btn.html?user=brunobar79&repo=GAP&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
					</li>
					<li>
						<iframe src="https://ghbtns.com/github-btn.html?user=brunobar79&repo=GAP&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
					</li>
				</ul>
			</p>
		</div>
	</div>			
	
	<div class="row marketing">
	    <a ng-href="#projects" class="next" du-smooth-scroll>
	      <h4>Check out my other personal projects!</h4>
	      <span class="glyphicon glyphicon-circle-arrow-down bounce"></span>
	    </a>
	</div>

</div>

