<div class="view-content" id="personal-projects">

	<h2>PERSONAL PROJECTS</h2>
	<div class="row">
		<div class="col-md-6">
			<p>
				I have a hacking problem. It doesn't matter where I'm working on or what I'm doing for a living but I have the need of create things on my free time and trust me, I really enjoy it..			</p>
			<p>
				This is some of the stuff that I've built during the last past years.
			</p>
			<p>
				<ul>
					<li>
						Askboth - Search on google and bing at the same time.
					</li>
					<li>
						My Tweet Place -  A web based twitter client
					</li>
					<li>
						Google+Tweet -  Use twitter inside google+
					</li>
					<li>
						Show me the vine! - Search for vine videos
					</li>
					<li>
						Yo Le Doy! - Tinder for the web, way before tinder
					</li>
					<li>
						PigDetector! - Show MVD transit issues on a map based on people tweets
					</li>
					<li>
						HeadScroll - Chrome extension that allows you to scroll on website by moving your head
					</li>
					<li>
						VPI! - A clone of the popular app YO!
					</li>
				</ul>
			</p>
		</div>
	</div>




<div class="row marketing">
    <a ng-href="#contact" class="next" du-smooth-scroll>
      <h4>Let's get in touch</h4>
      <span class="glyphicon glyphicon-circle-arrow-down bounce"></span>
    </a>
</div>

</div>

