<div class="view-content" id="projects">

	<h2>PERSONAL PROJECTS</h2>
	<div class="row">
		<div class="col-md-12">
			<p>
				I have a hacking problem. It doesn't matter where I'm working on or what I'm doing for a living but I have the need of creating things on my free time and trust me, I really enjoy it..			</p>
			<p>
				This is some of the stuff that I've built during the last past years:
			</p>
			<div class="col-md-6">
			<p>
				<ul class="project-list left" >
					<li>
						Askboth - 2009 - Search on google and bing at the same time.
						<span>
							<a href="http://www.makeuseof.com/tag/askboth-compare-google-searches/" target="_blank">Read a review by makeuseof.com</a>
						</span>

					</li>
					<li>
						My Tweet Place - 2010 - One of the first full featured web based twitter client
						<span>
							<a href="http://www.mytweetplace.com/" target="_blank">Check out the website</a>
						</span>
					</li>
					<li>
						Google+Tweet - 2011 - Use twitter inside google+ through a Chrome Extension
						<span>
							<a href="http://www.cbsnews.com/news/get-facebook-and-twitter-feeds-in-google-plus/" target="_blank">Read the mention on CBS news</a>
						</span>
					</li>
					<li>
						Show me the vine! - 2013 - Search for vine videos
						<span>
							<a href="http://www.makeuseof.com/tag/8-ways-to-discover-the-best-instagram-vine-videos-online/" target="_blank">Read the review on makeuseof.com</a>
						</span>
					</li>
				</ul>
			</p>
		</div>
		<div class="col-md-6">
			<p>
				<ul class="project-list">
					<li>
						Yo Le Doy! - 2013 - Tinder for the web, way before tinder
						<span>
							<a href="http://yoledoy.herokuapp.com/" target="_blank">Check out the website</a>
						</span>
					</li>
					<li>
						PigDetector! - 2013 -Show MVD transit issues on a map based on people's tweets
						<span>
							<a href="http://pigdetector.com/" target="_blank">Check out the website</a>
						</span>
					</li>
					<li>
						HeadScroll - 2013 -Chrome extension that allows you to scroll on any website by moving your head
						<span>
							<a href="https://www.youtube.com/watch?v=1lbeecohBT8" target="_blank">See the demo</a>
						</span>
					</li>
					<li>
						VPI! - 2014 - A clone of the popular app YO!
						<span>
							<a href="https://itunes.apple.com/us/app/vpi!/id900966781?ls=1&mt=8" target="_blank">Check out the app on the App Store</a>
						</span>
					</li>
				</ul>
			</p>
		</div>
	</div>

	<div class="row marketing">
	    <a ng-href="#contact" class="next" du-smooth-scroll>
	      <h4>Let's get in touch</h4>
	      <span class="glyphicon glyphicon-circle-arrow-down bounce"></span>
	    </a>
	</div>

	</div>
</div>

